/* DESIGN PREMISES

--- 01 TYPOGRAPHY

-Font sizes (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights
Default: 400

-Line heights
Default: 1


--- 02 COLORS

Primary color: #11252d 
-Tints: #415157, #889296
-Shades:  #0e1e24, #ac624e
-Accents: #D77A61
-Greys: #555 #0e1e24
-Typography: #B9D2EE

www.maketintsandshades.com


--- 03 IMAGES

Free images - www.unsplash.com
Free faces - www.uifaces.co


--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

-Spacing system
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 

/*

/*Universal selector, Global settings*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #0e1e24;
}

/******HEADER*****/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16rem;
  padding: 0 6rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}

.logo {
  height: 9rem;
}

/******HERO SECTION*****/

.section-hero {
  background-image: linear-gradient(90deg, #11252d 60%, #fff 40%);
  padding: 18rem 0 0 0;
  height: 65rem;
  margin-bottom: 1.8rem;
}

.hero {
  max-width: 132rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #b9d2ee;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #b9d2ee;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #d77a61;
  color: #b9d2ee;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #d77a61;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #df9581;
  color: #fff;
}

/* trick to border inside button 
box-shadow: inset 0 0 0 3px #fff */

/* .margin-right-sm{
  margin-right:1.6rem !important;
} trick for adding space */

.hero-img {
  width: 100%;
}

.logo-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4.8rem;
}
.scroll {
  height: 4rem;
}

/******RENDER SHOWCASE*****/

.section-showcase {
  padding: 9.6rem 0;
}

.image-showcase {
  width: 35rem;
}
