/* DESIGN PREMISES

--- 01 TYPOGRAPHY

-Font sizes (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights
Default: 400

-Line heights
Default: 1


--- 02 COLORS

Primary color: #e67e22
-Tints:
-Shades:
-Accents:
-Greys: #555 #333

www.maketintsandshades.com


--- 03 IMAGES

Free images - www.unsplash.com
Free faces - www.uifaces.co


--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

-Spacing system
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 

/*

/*Universal selector, Global settings*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.home {
  max-width: 130 rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #f8d8bd;
}

.home-img {
  width: 100%;
}

.heading-primary {
  
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem ;
}

.home-description{
  font-size: 2rem;
  line-height: 1.6;
}